@import "~bootstrap/scss/bootstrap";

$primary: #f3f3f3;
$secondary: #20acf3;
$third: #f3f3f3;

body {
    background-color: $primary;
}

.navbar {
    background-color: $secondary;
}

.navbar-brand {
    color: $primary;
}

.nav-link {
    color: $third;
}

.index {
    justify-content: space-around;

    & .program {
        width: 500px;
        margin-bottom: 20px;
    }

    & .poster {
        width: 450px;
        height: 800px;
    }
}
