{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block title %}Bienvenue {% endblock %}
{% block body %}<h1>Bienvenue sur {{ website }} !</h1>
{% endblock %}
=======
{% block body %}<h1>Bienvenue sur {{ website }} !</h1>
{% endblock %}
>>>>>>> 4bbd1f913dbdaa8ce6c29a4b267d6433b978a3bb
